<h2>Firebase Web Push Notification Example</h2>
<h4>Device Token is: </h4><p id="token"></p>
<button onclick= "token()">Show Registration Token</button>
<%= button_to 'Press me', root_path, method: :get %>
